<% if @task %>
  <h1><%= @task.content %></h1>

  <ul>
    <li><%= t('views.priority') %>：<%= I18n.t :"task.#{@task.priority}" %></li>
    <li><%= t('views.status') %>：<%= I18n.t :"task.#{@task.status}" %></li>
    <li><%= t('views.started_time') %>：<%= @task.started_at %></li>
    <li><%= t('views.ended_time') %>：<%= @task.ended_at %></li>
  </ul>
<% else %>
  <h1><%= t('views.no_such_task') %></h1>
<% end %>

<%= link_to t('views.back_to_task_list'), tasks_path %>